
$padding-item: 0.8rem;
$color-primary: orangered;
$color-secondary: #7ED321;
$margin-item: 1.2rem; 
$font-size-normal: 1.6rem;
$color-gray: #80808024;
$color-white: white;
$color-overlay: #00000080;

$w-12: 100%;
$w-11: 91.67%;
$w-10: 83.33%;
$w-9: 75%;
$w-8: 66.67%;
$w-7: 58.33%;
$w-6: 50%;
$w-5: 41.67%;
$w-4: 33.33%;
$w-3: 25%;
$w-2: 16.67%;
$w-1: 8.33%;